/* Hero Section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.hero {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -110px;
  height: 380px;
  transition: transform 0.3s ease-in-out;
}

.hero:hover {
  transform: translateY(-5px);
}

.hero img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.hero:hover img {
  transform: scale(1.05);
}

/* Navbar */
.navbar {
  top: 0;
  position: fixed;
  background-color: rgb(169, 169, 169);
  right: 100;
  z-index: 1000;
  border-bottom: 3px solid #cccccc;
  width: 100%;
  color: #000000;
}

.navbar .nav-item .nav-link {
  color: #000000;
  font-weight: 600;
}

/* About Section */
.about-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-content:hover {
  transform: translateY(-5px);
}

.about-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.about-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-image:hover {
  transform: translateY(-5px);
}

/* Client Section */
.client-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.client-list li {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.client-list li:hover {
  transform: translateY(-5px);
}

/* Services Section */
.service-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.service-card {
  transform: translateY(-5px);
}

.service-card i {
  font-size: 48px;
  color: #e74c3c;
  margin-bottom: 20px;
}

.service-card h5 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.service-card p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* General Styles */
.img-fluid {
  height: -50px;
}

.head {
  font-weight: 600;
}

/* Media Query for Phones and Tablets */
@media (max-width: 767px) {
  .navbar {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#contact {
  bottom: 0;
  margin-bottom: -300px;
  background-color: #333;
}
